################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SynthCustomControls
/SynthCustomControls/bin/Debug/net6.0-windows
/SynthCustomControls/obj/Debug/net6.0-windows
/SynthCustomControls/obj
/Testbed/bin/Debug/net6.0-windows
/Testbed/obj/Debug/net6.0-windows
/Testbed/obj
.vs/ProjectEvaluation/synthcustomcontrols.metadata.v6.1
.vs/ProjectEvaluation/synthcustomcontrols.projects.v6.1
